<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>django Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}"> {% endcomment %}

</head>

<body>
<h>Form Test</h1>
<div class="container">
  <form class="" action="/form/" method="post">
  {{form.as_p}}
  {% csrf_token %}
  <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>


  {% comment %} <script src="js/scripts.js"></script> {% endcomment %}
</body>
</html>
