<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>The HTML5 for django</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">

</head>

<body>
<h1>Access records</h1>
    {% if access_records %}
      <table>
        <thead>
        <th>Site Name<th/>
        <th>Date Accessed<th/>
        <thead/>
        {% for acc in access_records %}
         <tr>
         <td> {{acc.name}} <td/>
         <td> {{acc.date}} <td/>
         <tr/>
        {% endfor %}
      </table>
      {% else %}
        <p>No Access Record Found <p/>
    
     {% endif %}

  {% comment %} <script src="js/scripts.js"></script> {% endcomment %}
</body>
</html>
